.sidebar-brand {
    background-color: #FFFFFF !important;
}

.brain-sidebar-icon {
    max-width: 67% !important;
}

#btn-toggle-sidebar {
    margin-top: auto;
    margin-bottom: 15%;
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link i {
        font-size: 1rem !important;
    }

    .sidebar .nav-item .nav-link span {
        font-size: 1rem !important;
    }
}
