.navbar {
    margin-bottom: 0px;
    box-shadow: 5px 0.5px 3px #000;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

.profile {
    margin: 20px;
}

.mt-9 {
    margin-top: 9rem!important;
}

@media (max-width:767px){
    #logo-navbar {
        margin-top: 0;
        width: 232px;
        height: 86px;
        margin-left: 0px;
    }
}

.dropdown {
    float: right!important;
}

.dropdown > a {
    font-size: 1em!important;
}

#logo-navbar-dashboard {
    width: 250px;
}

.footer {
    padding: 20px 0 20px 0;
    background: #076b6d;
}

#footer > div > span {
    color: #ffffff;
}